.background {
    background: #f2f2f2;
}

.menu {
    margin-left: 800px;
    background: #000000;
}
.dropdown-menu {
    background: #f2f2f2;
    }
.dropdown-item {
    font-weight: bold;
}
.navbar-nav {
    color: #000000;
    font-weight: bold;
    }

.brand-logo {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
       }
.heading-title2{
    margin-top: 10px;
}
.brand {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-left: 260px;
    margin-top: -70px;
    line-height: normal;
    font-line: none;
       }
.border-top {
    border-top: 300px solid #000;
    margin-bottom: -40px;
}
.border-bottom{
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
    margin-top: -50px;
}

.space {
    margin-top: 20px;
}
.inele-container {
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -70px;
    line-height: normal;
    font-line: none;
    margin-left: 700px;
}
.inele-container2 {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: 30px;
    line-height: normal;
    font-line: none;
    margin-left: 675px;
}

.margin {
    margin-top: 10px;
}
.top-space {
    margin-top: 60px;
}
.bratari-container{
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: 120px;
    line-height: normal;
    font-line: none;
    margin-left: 660px;
}
.cercei-container{
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -100px;
    line-height: normal;
    font-line: none;
    margin-left: 670px;
}

.coliere-container{
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -100px;
    line-height: normal;
    font-line: none;
    margin-left: 665px;
}
.position {
    text-align: center;
}


.no-underline {
    text-decoration: none;
}

.carousel {
    margin-top: -240px;
    margin-left: 800px;
    color: #e6e6e6;
}

.spaced-top-5 {
    margin-top: 5em;
}

.container {
    margin-top: 50px;
}

.col {
    margin-right: 400px;
    margin-top: -100px;
    }


.align{
    margin-top: -100px;
}
.heading-title {
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -2px;
    margin-left: 30px;
    }
.card{
    margin-left: -10px;
}
.card-title {
    margin-top: -5px;
    margin-left: 45px;
}
.card-title-minimal{
    margin-top: -5px;
    margin-left: 20px;
}
.prod-price {
    margin-top: -5px;
    margin-left: 100px;
}

.row {
    margin-left: 2px;
    margin-top: 30px;
}
.row2 {
    margin-top: 60px;
    margin-left: 12px;
}

.btn {
    margin-top: 80px;
    margin-left: 125px;
    color: #ffffff;
    background: #000000;
    border: #000000;
}

.position{
    margin-top:15px;
}
.title {
    margin-left: 10px;
}

.btn_submit{
    ;
}

.prod-btn {
    margin-top: 2px;
    margin-left: 75px;
}

.btn:hover {
    color: #000000;
    background: #ffffff;
    border: 3px solid #000000;
}

.login-section {
    margin-top: 200px;
    margin-left: 80px;
}


.up{
    position: relative;
    top: -110px;
}

.align{
    margin-top: -6px;
    }

.signup-section {
    margin-top: 150px;
    margin-left: 80px;
}
.btn-lg{
    margin-top:-15px;
    margin-left: -14px;
}
.btn-prod{
    margin-top:15px;
    margin-left: 84px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 250px;
    height: 45px;
    font-size: 1.35rem;
}
.motto{
    margin-top: 60px;
}

.btn-login {
    margin-top: -15px;
    margin-left: -13px;
    color: #ffffff;
    background: #000000;
    border: #000000;
    border: 3px solid #000000;
}

.column {
    margin-left: -10px;
    margin-top: 10px;
}

.center {
    margin-left: -60px;
    margin-top: -560px;
}

.move-up{
    margin-top:-15px;
}
.center2 {
    margin-left: -100px;
    margin-top: -410px;
}

.float-mid{
    margin-left: 390px;
}
.float-middle2 {
    margin-left: 780px;
    margin-top: -300px;
}

.float-end{
    margin-top: -300px;
}
.prod-price{
    margin-left: 110px;
}