.background {
    background: #f2f2f2;
}

.menu {
    margin-left: 800px;
    background: #000000;
}
.dropdown-menu {
    background: #f2f2f2;
    }
.dropdown-item {
    font-weight: bold;
}
.navbar-nav {
    color: #000000;
    font-weight: bold;
    }

.brand-logo {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
       }
.heading-title2{
    margin-top: 10px;
}
.brand {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-left: 260px;
    line-height: normal;
    font-line: none;
    margin-top: -65px;
}
.no-underline {
    text-decoration: none;
}
.btn-align{
    margin-top: -50px;
}
.border-top {
    border-top: 300px solid #000;
    margin-bottom: -40px;
}
.border-bottom{
    border-bottom: 2px solid #000;
    margin-bottom: 30px;
    margin-top: 20px;
}

.space {
    margin-top: 50px;
}
.inele-container {
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -70px;
    line-height: normal;
    font-line: none;
    margin-left: 700px;
}
.inele-container2 {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: 30px;
    line-height: normal;
    font-line: none;
    margin-left: 675px;
}

.margin {
    margin-top: 10px;
}
.top-space {
    margin-top: 60px;
}
.produse-container{
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: 160px;
    line-height: normal;
    font-line: none;
    margin-left: 660px;
}
.cercei-container{
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -100px;
    line-height: normal;
    font-line: none;
    margin-left: 670px;
}

.coliere-container{
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -100px;
    line-height: normal;
    font-line: none;
    margin-left: 665px;
}
.position {
    text-align: center;
    margin-left: -90px;
}

.carousel {
    margin-top: -260px;
    margin-left: 800px;
    color: #e6e6e6;
}

.spaced-top-5 {
    margin-top: 5em;
}

.container {
    margin-top: 50px;
}

.col {
    margin-right: 400px;
    }


.align{
    margin-top: -100px;
}
.heading-title {
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -2px;
    margin-left: 30px;
    margin-top: 190px;
    }
.card{
    margin-left: -10px;
}
.card-title {
    margin-top: -5px;
    margin-left: 45px;
}
.card-title-minimal{
    margin-top: -5px;
    margin-left: 20px;
}
.product-price {
    margin-top: 5px;
    position: center;
    margin-left: 85px;
}

.row {
    margin-left: 2px;
    margin-top: 30px;
}
.row2 {
    margin-top: 60px;
    margin-left: 12px;
}

.btn {
    margin-top: 80px;
    margin-left: 125px;
    color: #ffffff;
    background: #000000;
    border: #000000;
}

.position{
    margin-top:15px;
}
.title {
    margin-left: 10px;
}

.btn_submit{
    ;
}

.prod-btn {
    margin-top: 2px;
    margin-left: 75px;
}

.btn:hover {
    color: #000000;
    background: #ffffff;
    border: 3px solid #000000;
}

.login-section {
    margin-top: 200px;
    margin-left: 80px;
}


.up{
    position: relative;
    top: -110px;
}

.align{
    margin-top: -6px;
    }

.signup-section {
    margin-top: 150px;
    margin-left: 80px;
}
.btn-lg{
    margin-top:-15px;
    margin-left: -14px;
}
.btn-prod{
    margin-top:15px;
    margin-left: 84px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 250px;
    height: 45px;
    font-size: 1.35rem;
}
.motto{
    margin-top: 60px;
}

.btn-login {
    margin-top: -15px;
    margin-left: -13px;
    color: #ffffff;
    background: #000000;
    border: #000000;
    border: 3px solid #000000;
}

.column {
    margin-left: -10px;
    margin-top: 10px;
}

.center {
    margin-left: -60px;
    margin-top: -560px;
}

.move-up{
    margin-top:-15px;
}
.center2 {
    margin-left: -100px;
    margin-top: -410px;
}

.float-mid{
    margin-left: 390px;
}
.float-middle2 {
    margin-left: 780px;
    margin-top: -300px;
}

.float-end{
    margin-top: -300px;
}
.prod-price{
    margin-left: 110px;
}
.product-align{
    margin-top: 150px;
}
.product-image{
    width: 550px;
    height: auto;
    margin-left: -50px;
}

.body{
    margin-left: 520px;
    margin-top: -350px;
}
.product-price {
    margin-top: 10px;
}
.description{
    margin-top: 20px;
}
.cart-btn{
    margin-left: 60px;
    margin-top: 5px;
}

.body{
 margin-left: 500px;
 padding: 0;
 background: linear-gradient(to bottom right);
 height: 100px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.cart-container{
 width: 10%;
 height: 10%;
 margin-left: 30px;
 background-color: #ffffff;
}
.card-cart{

}


/*--------CART details----------*/
.small-container{
    margin-left: 50px;
}

.cart-page{
    margin: auto;
    margin-left: 60px:
}

table{
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 70px;
}

.cart-prod-image{
    width: 150px;
    height: 120px;
    margin-right: 30px;
    margin-left: -10px;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align:left;
    padding: 10px;
    background: #000000;
    color: #ffffff;
    font-weight: bold;
}
th.cantitate-header{
    text-align: right;
}

.info{
    margin-top: 15px;
    margin-left: 15px;
    }

 td{
    padding: 10px 5px;
    padding-left: 30px;
 }

 td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    margin-right: 80px;
 }

 td a{
    color: #ff523b;
    font-size: 14px;
    text-decoration: none;
 }

 .total-price{
    display: flex;
    justify-content: flex-end;
 }

 .total-price table{
    border-top: 3px solid #000000;
    margin-right: 80px;
    width: 100%;
    max-width: 440px;
 }

 td:last-child{
    text-align: right;
 }

 th:last-child{
    text-align:right;
 }

.cart-btn{
    margin-left: -1400px;
}

.clear-cart{
    margin-left: -1200px;
    margin-top: 5px;
}