.background {
    background: #f2f2f2;
}

.menu {
    margin-left: 800px;
    background: #000000;
}
.dropdown-menu {
    background: #f2f2f2;
    }
.dropdown-item {
    font-weight: bold;
}
.navbar-nav {
    color: #000000;
    font-weight: bold;
}

.brand-logo {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
       }

.brand {
    color: #000000;
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-left: 260px;
    margin-top: -70px;
    line-height: normal;
    font-line: none;
       }

.inele-container {
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -70px;
    line-height: normal;
    font-line: none;
    margin-left: 700px;
}

.bratari-container{
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: 200px;
    line-height: normal;
    font-line: none;
    margin-left: 700px;
}
.cercei-container{
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -100px;
    line-height: normal;
    font-line: none;
    margin-left: 700px;
}

.coliere-container{
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    margin-top: -100px;
    line-height: normal;
    font-line: none;
    margin-left: 700px;
}
.position {
    text-align: center;
}

.no-underline {
    text-decoration: none;
}

.carousel {
    margin-top: -300px;
    margin-left: 800px;
    color: #e6e6e6;
}

.spaced-top-5 {
    margin-top: 5em;
}

.container {
    margin-top: 150px;
}

.col {
    margin-right: 400px;
}

.heading-title {
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -2px;
    margin-left: 30px;
    }

.card-title {
    margin-top: -5px;
    margin-left: 45px;
}
.card-title-minimal{
    margin-top: -5px;
    margin-left: 20px;
}
.prod-price {
    margin-top: -5px;
    margin-left: 100px;
}

.row {
    margin-left: 2px;
    margin-top: 60px;
}

.btn {
    margin-top: 40px;
    margin-left: 150px;
    color: #ffffff;
    background: #000000;
    border: #000000;
}

.prod-btn {
    margin-top: 2px;
    margin-left: 75px;
}

.btn:hover {
    color: #000000;
    background: #ffffff;
    border: 3px solid #000000;
}

.login-section {
    margin-top: 100px;
    margin-left: 80px;
}

.btn-login {
    margin-top: -60px;
    margin-left: -13px;
    color: #ffffff;
    background: #000000;
    border: #000000;
    border: 3px solid #000000;
}

.column {
    margin-left: -10px;
}

.center {
    margin-left: -60px;
    margin-top: -40px;
}

.float-mid{
    margin-left: 390px;
}
.float-middle2 {
    margin-left: 780px;
    margin-top: -300px;
}

.float-end{
    margin-top: -300px;
}
.prod-price{
    margin-left: 110px;
}