{% block content %}
<div class="border-5 border-bottom space">
    <a href="/products/bratari" title="Bratari" class="bratari-container no-underline"><span class="position">Brățări</span></a>
</div>
<div class="margin">
  <div class="card float-start" style="width: 18rem; height: 300px">
    <img src="{{url_for('static', filename='images/bratari/carousel_1_3.jpg')}}" class="card-img-top" alt="golden_bracelet">
    <div class="card-body">
      <h5 class="card-title">Brățară aurie "Rose"</h5>
      <div class="prod-price">
      <span>70 lei</span>
      </div>
      <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
    </div>
  </div>
  <div class="card float-mid" style="width: 18rem; height: 300px">
    <img src="{{url_for('static', filename='images/bratari/bratara4.jpg')}}" class="card-img-top" alt="golden_bracelet">
    <div class="card-body">
      <h5 class="card-title-minimal">Brățară aurie "Minimal"</h5>
      <div class="prod-price">
      <span>80 lei</span>
      </div>
      <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
    </div>
  </div>
  </div>
  <div class="card float-middle2" style="width: 18rem; height: 300px">
    <img src="{{url_for('static', filename='images/bratari/bratara2.jpg')}}" class="card-img-top" alt="golden_ring">
    <div class="card-body">
      <h5 class="card-title">Brățară aurie "Gold"</h5>
      <div class="prod-price">
      <span>75 lei</span>
      </div>
      <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
    </div>
  </div>
  <div class="card float-end" style="width: 18rem; height: 300px">
    <img src="{{url_for('static', filename='images/bratari/bratara3.jpg')}}" class="card-img-top" alt="golden_ring">
    <div class="card-body">
      <h5 class="card-title">Brățară aurie "Chic"</h5>
      <div class="prod-price">
      <span>75 lei</span>
      </div>
      <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
    </div>
  </div>
{% endblock %}