{%extends "base.html"%}
{% block content %}
<div class="container spaced-top-5">
    <div>
        <div >
            <div>
            <h1 class="heading-title col">Lăsați-vă inspirați de
                <span class="row">universul </span></h1></div>
            <a href="/products" class="no-underline"><div class="brand">Le biZoux</div></a>

            <a href="/products">
                <button type="button" class="btn btn-primary btn-lg">Deschide universul</button>
            </a>
        </div>
   </div>
</div>
<div class="col">
    {% include "carousel.html "%}
</div>
<div class="border-5 border-bottom space2"></div>
<div>
    <div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-6 my-3">
            <div class="card" style="width: 30rem;">
                  <img class="card-img-top my-4" src="{{ url_for('static', filename = product.image) }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="prod-price">Pret {{ product.price }} lei</p>
                    <a href="/products/{{ product.id }}">
                        <button class="btn btn-primary prod-btn">Vezi produs</button>
                    </a>
                      {% if user %}
                      <a href="#">
                          <button> Adauga in cos </button>
                      </a>
                      {% endif%}
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}