{%extends "base.html"%}
{% block content %}
<div class="container spaced-top-5">
    <div>
        <div >
            <div>
            <h1 class="heading-title col">Lăsați-vă inspirați de
                <span class="row">universul </span></h1></div>
            <a href="/products" class="no-underline"><div class="brand">Le biZoux</div></a>

            <a href="/products">
                <button type="button" class="btn btn-primary btn-lg">Deschide universul</button>
            </a>
        </div>
   </div>
</div>
<div class="col">
       {% include "carousel.html "%}
</div>
<div class="border-5 border-bottom"></div>
<div class="border-5 border-bottom space">
    <a href="/products/inele" title="Inele" class="inele-container no-underline"><span class="position">Inele</span></a>
</div>
<div>
    {% include "inele.html "%}
</div>
<div class="border-5 border-bottom space">
    <a href="/products/bratari" title="Bratari" class="bratari-container no-underline"><span class="position">Brățări</span></a>
</div>
<div>
    {% include "bratari.html "%}
</div>
<div class="border-5 border-bottom space">
    <a href="/products/cercei" title="Cercei" class="cercei-container no-underline"><span class="position">Cercei</span></a>
</div>
<div>
    {% include "cercei.html "%}
</div>
<div class="border-5 border-bottom space">
    <a href="/products/coliere" title="Coliere" class="coliere-container no-underline"><span class="position">Coliere</span></a>
</div>
<div>
    {% include "coliere.html "%}
</div>


{% endblock %}