{% block content %}
<div class="card float-start" style="width: 18rem; height: 300px">
  <img src="{{url_for('static', filename='images/inele/expensive_golden_ring.jpg')}}" class="card-img-top" alt="golden_ring">
  <div class="card-body">
    <h5 class="card-title">Inel auriu "Angel"</h5>
    <div class="prod-price">
    <span>65 lei</span>
    </div>
    <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
  </div>
</div>
<div class="card float-mid" style="width: 18rem; height: 300px">
  <img src="{{url_for('static', filename='images/inele/queen_ring.jpg')}}" class="card-img-top" alt="golden_ring">
  <div class="card-body">
    <h5 class="card-title">Inel auriu "Queen"</h5>
    <div class="prod-price">
    <span>80 lei</span>
    </div>
    <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
  </div>
</div>
</div>
<div class="card float-middle2" style="width: 18rem; height: 300px">
  <img src="{{url_for('static', filename='images/inele/green_ring1.jpg')}}" class="card-img-top" alt="golden_ring">
  <div class="card-body">
    <h5 class="card-title">Inel auriu "Smarald"</h5>
    <div class="prod-price">
    <span>75 lei</span>
    </div>
    <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
  </div>
</div>
<div class="card float-end" style="width: 18rem; height: 300px">
  <img src="{{url_for('static', filename='images/inele/small_rings1.jpg')}}" class="card-img-top" alt="golden_ring">
  <div class="card-body">
    <h5 class="card-title">Inel auriu "Several"</h5>
    <div class="prod-price">
    <span>75 lei</span>
    </div>
    <a href="#" class="btn btn-primary prod-btn">Vezi produs</a>
  </div>
</div>
{% endblock %}