{% block navbar %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="logo"><a class="navbar-brand brand-logo" href="/">
      <img src="{{url_for('static', filename='images/carousel_1_6.png')}}" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
      Le biZoux</a></div>
    <div class="menu"><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/products" role="button" data-bs-toggle="dropdown">Produse</a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/products">Toate produsele</a></li>
                  <li><a class="dropdown-item" href="/products/inele">Inele</a></li>
                  <li><a class="dropdown-item" href="/products/bratari">Brățări</a></li>
                  <li><a class="dropdown-item" href="/products/cercei">Cercei</a></li>
                  <li><a class="dropdown-item" href="/products/coliere">Coliere</a></li>
              </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Favorite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/login" role="button"><i class="fa-solid fa-user"></i></a>
        </li>
        <li class="nav-item">
            <button type="button" class="btn1 btn-primary1 position-relative">
                <a class="nav-link" href="/add_to_cart"><i class="fa-solid fa-basket-shopping"></i></a>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <span class="visually-hidden1">{{ products_in_cart|length }}</span>
            </span>
            </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock%}