{%extends "base.html"%}
{% block content %}
    <div class="container">
        <div class="product-align">
        <img class="product-image" src="{{ url_for('static', filename = products.image) }}">
        <div class="row body">
            <div class="">
            <div class="row card-body text-footer">
            <h1 class="card-title">{{ products.name }}</h1>
            <h5 class="product-price">Pret {{ products.price }} lei</h5>
            <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur distinctio doloremque doloribus dolorum exercitationem, facilis iste itaque laborum molestias nam necessitatibus quas recusandae repudiandae rerum tempore ullam velit? Velit.</p>
                {% if user %}
                    <button type="submit" class="btn btn-primary prod-btn"> Adauga in cos </button>
                {% endif%}
            </div>
        </div>
        </div>
        </div>
    </div>
{% endblock %}